html {
  overflow-x: hidden;
}

.font-40 {
  font-size: 40px;
}

.font-32 {
  font-size: 32px;
}

.font-22 {
  font-size: 22px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.bg-gray-1 {
  background: #f9fafc;
}

.bg-lightgray {
  background: #f8f8f8;
}

.text-gray {
  color: #666666;
}

.text-shadows {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7) !important;
}

.btn-outline-secondary-1 {
  border: 1px solid #666666 !important;
  border-radius: 0 !important;
}

.btn-outline-light {
  border: 1px solid #666666 !important;
  color: #666666;
  font-weight: lighter;
}

.btn-outline-light:hover {
  border: 1px solid #666666 !important;
  color: #666666;
  background: transparent;
}

.btn-primary01 {
  background-color: #61c1bd;
  border: 0;
  width: 80%;
  height: 50px;
  font-size: 20px;
  color: #fff;
}

.btn-primary01:hover {
  background-color: #61c1bd;
  border: 0;
  color: #fff;
}

.btn-secondary {
  background-color: #16175f;
  border-color: #16175f;
  font-weight: lighter;
}

.btn-secondary:hover, .btn-secondary:active {
  background-color: #16175f;
  border-color: #16175f;
  color: #fff !important;
}

.w-px-20 {
  width: 20px;
}

.card {
  border-radius: 0;
  border: 0;
}

.card-img-overlay {
  top: 80%;
}

.card-img-overlay h5 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  color: #fff;
}

.carousel-item h1 {
  font-size: 56px;
  line-height: 60px;
  font-weight: lighter;
  color: #fff;
}

.carousel-item .carousel-caption {
  right: 0;
  left: 7%;
  text-align: left;
  bottom: 20%;
}

.new-item h5 {
  font-size: 18px;
  color: #121212;
}

.new-item h6 {
  font-size: 14px;
}

.new-item p {
  font-size: 12px;
}

.new-item .icon {
  width: 20px;
}

.page-item {
  text-align: center;
  font-weight: lighter;
}

.page-item .page-link {
  margin: 0 5px;
  border-radius: 5px;
  border-color: #cccccc;
  color: #cccccc;
  height: 36px;
}

.page-item .page-link:hover {
  background-color: #191a61;
  color: #fff;
}

.page-item .page-link:active {
  background-color: #191a61;
  color: #fff;
}

.page-item:last-child .page-link {
  border-radius: 5px;
  background: url(../images/ic-right.svg) no-repeat center center #707070;
}

.page-item:first-child .page-link {
  border-radius: 5px;
  background: url(../images/ic-left.svg) no-repeat center center #707070;
}

.pic-item {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  min-height: 262px;
  margin-bottom: 30px;
  position: relative;
}

.pic-item p {
  font-size: 12px;
}

.pic-item .pic-item-text {
  border: 1px solid #eaeaea;
  background: #fff;
  width: 45%;
  height: 126px;
  top: 25%;
  left: 60px;
  border-radius: 5px;
  padding: 20px 0 0 35px;
  position: absolute;
}

.pic-item .pic-item-note {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  text-align: end;
  line-height: 18px;
  right: 10px;
  bottom: 10px;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.pic-item .pic-item-text-right {
  left: auto;
  right: 60px;
}

.pic-item .pic-item-note-right {
  left: 10px;
  right: auto;
  text-align: left;
}

.pic-item-01 {
  background: url(../images/pic-app-01.jpg) no-repeat right;
}

.pic-item-02 {
  background: url(../images/pic-app-02.jpg) no-repeat left;
}

.pic-item-03 {
  background: url(../images/pic-app-03.jpg) no-repeat right;
}

.pic-item-04 {
  background: url(../images/pic-app-04.jpg) no-repeat left;
}

.pic-item-05 {
  background: url(../images/pic-app-05.jpg) no-repeat right;
}

.pic-item-06 {
  background: url(../images/pic-app-06.jpg) no-repeat left;
}

@media (max-width: 1024px) {
  .pic-item .pic-item-text {
    width: 50%;
    left: 20px;
  }
  .pic-item .pic-item-text-right {
    left: auto;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .card-img-overlay {
    top: 70%;
  }
}

@media (max-width: 414px) {
  .card-img-overlay {
    top: 80%;
  }
  .carousel-item .d-none {
    display: block !important;
  }
  .carousel-item h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .carousel-item .carousel-caption {
    right: 0;
    left: 0;
    text-align: center;
    bottom: 16%;
  }
  .pic-item {
    min-height: 380px;
  }
  .pic-item .pic-item-text {
    width: 90%;
    top: 5%;
    left: 5%;
  }
  .pic-item .pic-item-text-right {
    left: 5%;
    right: auto;
  }
  .pic-item .pic-item-note-right {
    left: auto;
    right: 10px;
    text-align: end;
  }
  .pic-item-01 {
    background: url(../images/pic-app-01.jpg) no-repeat bottom;
  }
  .pic-item-02 {
    background: url(../images/pic-app-02.jpg) no-repeat bottom;
  }
  .pic-item-03 {
    background: url(../images/pic-app-03.jpg) no-repeat bottom;
  }
  .pic-item-04 {
    background: url(../images/pic-app-04.jpg) no-repeat bottom;
  }
  .pic-item-05 {
    background: url(../images/pic-app-05.jpg) no-repeat bottom;
  }
  .pic-item-06 {
    background: url(../images/pic-app-06.jpg) no-repeat bottom;
  }
  .my-sm-2 {
    margin: 1.2rem 0;
  }
}

nav .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */